body{
    background-color: beige
    
}
#para{
    color:brown;
    
}

img{
    display: inline-block;

}
a:hover{
    color: red;
}

.pop-on-hover {
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    
  }
  
  .pop-on-hover:hover {
    transform: scale(1.1); 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 

  }
.return{
    background-color: red;
    
}



  